<div class="rents-grid">
    @for (rent of rents; track rent.id) {
    <div class="rent-card">
        @if (rent.property.base64Image) {
        <img [src]="'data:image/jpeg;base64,' + rent.property.base64Image" alt="Property">
        }
        <div class="rent-info">
            <h3>{{rent.property.address}}</h3>
            <p>{{rent.property.description}}</p>
            <p class="rent">{{rent.property.rent | currency}}</p>
            <div class="rent-dates">
                <p><strong>Reserved:</strong> {{rent.rentStart| date}}</p>
                <p><strong>Expires:</strong> {{rent.rentEnd | date}}</p>
            </div>
        </div>
    </div>
    }
</div>